<!DOCTYPE html>
<html>
    <head>
      <title> Makersbnb </title>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <!-- <link rel="stylesheet" type="text/css" href="css/style.css">. -->
    </head>
      <h1 align='center'> Makers BnB </h1>
    <body>
      <h2 id='user' align='center'> </h2>
      <script src='name.php'> </script> 
       <script>
      $( document ).ready(function(){
          $.get('name.php', {name: name}, function(name) {
            $('#user').text(name)
          });
        }))
      })
      </script>
    </body>
</html>