<!DOCTYPE html>
<html>
    <head>
      <title> Makersbnb </title>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <!-- <link rel="stylesheet" type="text/css" href="css/style.css">. -->
    </head>
      <h1 align='center'> Makers BnB </h1>
    <body>

      <h3 align='center'> Welcome <%= @user.name %> </h3>

      <% @spaces.reverse_each do |space| %>
      <h3> * <%= space.name %> </h3>
      <h6> Description: <%= space.description %>
      <h5> Price: <%= space.price %>
      <% end %>

      <script>
      $(document).ready(function() {
        $("#list-a-space").click(function () {
          $.get("new_list_form.html", function(data){
            $("#list-new-space").html(data);
          });
        });
      });
    </script>

    </body>
</html>