<!DOCTYPE html>
<html>
    <head>
      <title> Makersbnb </title>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <link rel="stylesheet" type="text/css" href="css/index.css">
    </head>
    <!-- <div class='img_background'>
      <img class='img_background' src="https://images.unsplash.com/photo-1556912998-c57cc6b63cd7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">
    </div>
     -->
    <header>
      <h1 align='center'> Makers BnB </h1>
    </header>
    <body>
      <form action="/sign_up" method='get'>
        <button type='submit' value='sign_up'> Makers BnB </button>
      </form>
    </body>
</html>