<!DOCTYPE html>
<html>
    <head>
      <title> Makersbnb </title>
      <%# <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> %>
      <!-- <link rel="stylesheet" type="text/css" href="css/style.css">. -->
    </head>
      <h1 align='center'> Makers BnB </h1>
    <body>
      <form action="/sign_in" method='get'>
        <button type='submit' value='sign_in'> Sign In </button>
      </form>
      <script src='name.php'> </script> 
      <script src='connection.js'> </script> 
    </body>
</html>