<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <title>Spaces - MakersBnB</title>
  </head>
  <body>

    <h1>Spaces</h1>

    <script>

      $(document).ready(function() {

        $("#list-a-space").click(function () {

          $.get("new_list_form.html", function(data){
            $("#list-new-space").html(data);
          });
        });

      });

    </script>


    <div id="list-new-space">
      <button type="button" id="list-a-space">list a space</button>
    </div>

    <!-- <script src="new_list_form.html"></script> -->

    <!-- <script src="list_space.erb"></script> -->
    <!-- <script src="new_list_form.html"></script> -->



    <% if @spaces %>
    <div>
      <ul>
        <% @spaces.each do |space| %>
        <li><%= space %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
  </body>
</html>
