<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Spaces - MakersBnB</title>
  </head>
  <body>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script>

      $(document).ready(function() {

        $("#spaces").text('Spaces');

      });

    </script>

    <h1><span id="spaces"></span></h1>
    <form action="/list-space" method="get">
      <input type="submit" value="list a space">
    </form>

    <% if @space %>
    <div>
      <ul>
        <li><%= @space %></li>
      </ul>
    </div>
    <% end %>
  </body>
</html>
